# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyi
*.pyw
*.egg-info/
dist/
build/
*.egg
*.eggs
*.whl

# Virtual Environment
venv/
env/
ENV/

# IDE
.vscode/
*.code-workspace
*.idea

# Miscellaneous
*.log
*.swp
.DS_Store